.txt
{
color:blue;
text-align:center;
}
.txth
{
color:blue;
text-align:center;
MARGIN-top:75px;
}
body 
{
background-color: #00FFFF;
}
.btn
{
background-color:Blue;
color:white;
font-size:25px;
border-radius:5PX;
}
.note
{
color:red; 
text-align:center; 
font-weight:bold; 
font-size:20px;
}
.menu
{
background-color:white;
padding:8px;
}
li{
float:left;
display:inline;
}
li a {
  display:inline;
  padding: 8px;
}


.styled-table {
  padding: 150px;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #404746;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

