<!doctype html>
<html>
<head>
<title>Project Guide</title>
<link rel="stylesheet" href="../static/style.css">
</head>
<body>

<div class="menu">
<ul class="menu">
<li><a href="user_dashboard.html">Home</a></li>
<li><a href="status.html">Status</a></li>
</ul>
</div>

<h1 class="txt">WELCOME</h1>
<h2 class="txth">Select Your Guide<b/></h2>
<form method="post" action="check.php">
<table align="center" border=0>
<tr><td>
<lable color="blue"><b>Name:</b></lable></td><td>
<input type="text" placeholder="Ex : Surendar.B" required></td>
</tr>
<tr><td>
<lable color="blue"><b>Reg.No:</b></lable></td><td>
<input type="text" name="reg" placeholder="Ex : 20MCAxxx" required></td>
</tr>
<tr><td>Choose your Guide:</td>
<td>
<select name="guide" id="Guide">
  <option value="volvo">Volvo</option>
</select></td></tr>
<tr><td><lable color="blue"><b>Project Tile:</b></lable></td><td>
<input type="text" placeholder="Enter title here" value="">
</td></tr>
<tr><td></td>
<td>
<input type="submit" class="btn" name="submit" vlaue="Submit">
</td></tr>
</table>
</form>
<p class="note">**NOTE:-You can Submit Only One Time and Thats Final You can change the title if the guide is not accept your title**</p>
<p class="note">****NOTE:-You can see the title status in status****</p>
</body>
</html>
</body>
</html>

